[2018-08-13 18:00] clytras opened #1 "Trying to use ReactNativeZoomableView and getting an error"
I'm trying with this code and I'm getting an error **ONLY** when I try to zoom or any other interaction:

[code]

The error I'm getting:

[code]

Am I doing something wrong? Is there any documentation or example on how to use `ReactNativeZoomableView`?

[2018-08-18 11:59] SimonErich commented on #1
@clytras sorry, that was a mistake on our part. We never used it without maxzoom and minzoom props.
We patched it though and it should work now.

Also we improved the docs and added examples on how to use it.

Please be aware that we also changed the namespace, so the correct package is now:
@dudigital/react-native-zoomable-view (as described in the current readme)

We moved the git page over to t

[2018-08-18 11:59] #1 closed

[2018-09-10 13:24] mammad2c opened #4 "How to animate double tap zoom?"
Hi,
How can I add a duration to zoom when double tap on photo. Zooming now have no duration and like a flash effect, suddenly zoom in and zoom out. Like twitter or ...

[2018-09-11 20:14] SimonErich commented on #4
Hi Mohammed, there is no animation for tap to zoom, because the performance was quite bad, when I tried it.
Will have a look at it at the weekend and maybe give it a go.
If you manage to do it before me, I would appreciate a pull request.

[2018-09-26 19:38] SimonErich commented on #4
@mammad2c sorry, I haven't managed to find time to fix this issue.
I have played a round a little bit, but so far the performance is not very good.

I will try to find a solution as soon as possible.
If anyone else finds time to work on this in the meantime, you are more than welcome to open a pull request.

[2018-10-04 17:56] lahwran opened #5 "React-native-zoomable-view in a swiper"
So I hear from the README that this is a todo. I'd really love to have an example of that :) What all needs to be customized to get the gestures to play nice?

[2018-10-06 09:10] mammad2c commented on #4
hi, I will try too.
thanks

[2018-10-12 13:16] SimonErich commented on #5
@lahwran we are actually using this in production within a slider right now, but there are still some glitches and problems we are trying to figure out.
It doesn't work as smooth as we would like it to.

The way it currently works for us with [react-native-swiper](https://github.com/leecade/react-native-swiper ) is basically:
- Use the ReactNativeZoomableWithGestures component instead of the simpl

[2018-12-23 16:13] #5 closed

[2019-02-25 23:38] alexyangjie opened #7 "Cannot pan the view while zoomed in"
Hi,

I am trying to build a feature to pan and zoom the image using the ReactNativeZoomableView, and find that the zoomed in view cannot be moved around. The screenshots in the documentation illustrate this capability, so I download the code example and run in with latest expo SDK, and still cannot move the view as showed in the documentation.

The pan functionality is only working if I double tap

[2019-03-03 08:57] jannunen commented on #7
I tried to use pan responder. I made a reference to the object and used .zoomToLocation and achieved a click and zoom to a location.

But I didn't manage to get it work smoothly by panning around the screen as in the example or the Expo project (https://snack.expo.io/Sk1BzKdL4)

Any help would be appreciated with the panning.

[2019-03-04 10:11] SimonErich commented on #7
Hey guys, sorry for the late response.
There was indeed an issue with releasing the pinch-to-zoom state. Should be fixed now with #8.
Please use v1.0.12

[2019-03-04 10:13] #7 closed

[2019-04-09 07:44] farrukhhashmi65 opened #9 "Not working in Modal"
It is not working in React Native Modal, Any reason or solution for that?

[2019-04-09 08:03] SimonErich commented on #9
Hey @farrukhhashmi65,
what modal are you using?
Can you provide a code snippet with your implementation, then I can have a look.
thanks

[2019-05-13 08:21] billytyk opened #10 "How to shift the view?"
Hi, I am reading the README but I do not quite understand how to shift the view. May I ask for help?

[2019-05-13 11:48] SimonErich commented on #10
Hello @billytyk, can you give a quick explanation of what you mean by "shift the view"?
If you zoom in you should be able to just move the view around. Right?

[2019-05-13 11:48] SimonErich commented on #9
Closed because no further info was given.

[2019-05-13 11:48] #9 closed

[2019-05-13 11:52] billytyk commented on #10
@SimonErich I can zoom the view with pinch gesture but I cannot move the view around with only one finger. That means the center location of the view does not change. Is that normal? Any configuration I need to add to move the view?

[2019-05-13 14:02] billytyk commented on #10
Oh I found that Image can be moved inside this react-native-zoomable-view, but I want the whole react-native-zoomable-view component can be also moved when I tap it and move it.

[2019-05-13 14:06] SimonErich commented on #10
Can you post a bit of code, then I will have a look. Looks like it's not implemented correctly.
Did you check the example:
https://github.com/DuDigital/react-native-zoomable-view-example

[2019-05-27 10:54] SimonErich commented on #10
@billytyk any update on this?
Then I will take a look at it.

[2019-05-31 15:58] SimonErich commented on #10
Closed, because no activity.
If you still have this problem, please provide more information.

[2019-05-31 15:58] #10 closed

[2019-05-31 15:59] SimonErich commented on #4
I have tried, but haven't found a clear way to make this in a performance light way.
I will therefore close this for now. Maybe this will change with react 16.0.0 and the promised performance improvements.
Will give it a try then.

[2019-05-31 15:59] #4 closed

[2019-05-31 21:05] muhammadwfa opened #13 "Zoomin works just on double click and after zoom can not moved"
Zoom in works just on double and when gets zoom in that time we can not move the image
Also can not be zoom with finger motion.
Also a little is slow

Please help me

[2019-05-31 21:55] SimonErich commented on #13
Hey @muhammadwfa . Will take a look at it tomorrow. :)

[2019-05-31 22:37] muhammadwfa commented on #13
Ok thank you,
And I am using image inside a react-native-modal from react community

[2019-06-03 15:00] SimonErich commented on #13
Hey,
I have looked into it and I could reproduce it with my example repo. It seems like the callbacks seem to slow down the performance considerably. When I used the exact same code base and ejected from expo it worked perfectly well, without a problem.

Are you using callbacks (onZoomAfter, ...) ?
Are you using expo?

If so, maybe try ejecting from it and if it helps to remove the callbacks, just

[2019-06-03 21:50] muhammadwfa commented on #13
Hi, I am not using expo

[2019-06-04 06:32] SimonErich commented on #13
Can you please provide a small example repo, where we can reproduce the error?

[2019-06-06 17:18] muhammadwfa commented on #13
this is the example I am usng but on a modal!

[code]

[2019-06-10 20:26] SimonErich commented on #13
Hello Muhammad, can you provide an example with your modal code?
And please also provide the code u use in "logOutZoomState" method.
This can impact performance as well.

[2019-06-17 19:04] Yoruba opened #14 "Set zoomlevel from state"
Hello, is there a way to set the zoomlevel from a button?

For example I want to reset the zoomlevel to 1 with a button.
Like the code below but then with updating the zoomlevel of the ReactNativeZoomableView component.

Thanks

[code]

[2019-06-18 17:59] Kyonru commented on #13
Yeah, looks like the issue is on modals. I'm using react-native-navigation modal, and i'm getting the same behavior.

[2019-06-19 16:20] skantus commented on #14
Hi @Yoruba simply play with `zoomEnabled` if the value is `false` then the values will be reset.

For example:

[code]

I hope it helps.

[2019-06-19 17:17] Yoruba commented on #14
Thanks @skantus this works great.

[2019-06-19 17:17] #14 closed

[2019-06-25 11:55] SimonErich commented on #13
@Kyonru can you please provide a small minimal example with react-navigation modals?
I haven't used them yet.

Can you just fork https://github.com/DuDigital/react-native-zoomable-view-example with react-navigation modals working, then I'll take a look and try to fix it.

[2019-06-28 01:30] martinschurmann opened #15 "PanResponde weird behavior if view is zoomed"
Hey! So i have an ReactNativeZoomableView, and as a child a draggable component. (I can drag it with a PanResponder). If the image has no zoom it can move without any issues, but if I move it around while the image is zoomed theres a weird behavior, the component moves a lot more, for example. there is a 1.8 zoom, the draggable component is at the top of the screen, but if I move my finger to the

[2019-07-03 02:52] #15 closed

[2019-08-09 06:28] hiteshagja opened #16 "It does not work well when children is scrollview component. Please advice."
I have scrollview component inside zoomable view and it's working fine in Android but in iOS it's not. Basically zoomable view working fine perfectly but that scrollview content is lagging now when I normally scroll.

Please advice for best solution.

[2019-08-14 12:48] SimonErich commented on #13
Issue has been closed because of inactivity.
If you have the same problem, please provide a small example for us to work with.

[2019-08-14 12:48] #13 closed

[2019-08-14 12:50] SimonErich commented on #16
Hello @hiteshagja,
i did take a look at that, but I don't think there is something we can do (easily) to fix this problem, because we need the movement gestures to work for the shifting and pinching gestures.
I also can't image a scenario where this would make sense from a user perspective to combine scrollview inside the zoom.
Can you maybe show us your usecase? Maybe we can find a way around thi

[2019-08-16 07:06] skantus commented on #16
@hiteshagja an idea is check when the zoom is started maybe you could use `onZoomBefore` to disable the `Scrollview` using `scrollEnabled` then you can validate when `initialZoom` will `0` you turn on `scrollEnabled` to start scrolling.

This is a hacky way but can works.

Hope it's help.

[2019-08-23 05:56] hiteshagja commented on #16
@skantus Thanks for your reply.

It was my bad that I have not noticed scrollview has it's own zoom handler(for ios). So no need to wrap scrollview inside zoomview. For android I had already done what you said and it's working OK, can't say fine but acceptable.

I hope my comment and @skantus comment will help others.

[2019-08-23 05:56] #16 closed

[2019-08-23 13:56] hlotvonen opened #17 "ComponentWillMount deprecated"
Hi!
Thanks for this nice package, it suits my needs perfectly :-)
Recently I've been getting a warning message on my app though:

[2019-08-25 15:47] skantus commented on #16
@hiteshagja that's true, optionally there are other ways to do it, I paste a related issue in Android.

https://github.com/facebook/react-native/issues/20154#issuecomment-420562297

[2019-08-25 15:54] skantus commented on #17
@hlotvonen could you suggest a PR for this?

[2019-08-28 13:55] SimonErich commented on #17
Fixed in v1.0.14.
Thanks @jhainaua for the pull request. :)

[2019-08-28 13:55] #17 closed

[2019-08-30 17:19] libasoles opened #19 "Scroll with two fingers"
Hi. This library is great, thank you.

Just one thing: scrolling while zooming should be possible. That's the common behaviour if you zoom in chrome by example.

By other hand, in my case i'm not zooming a static image, but a drawing canvas. So, I'm disabling the one finger gestures  like this:

[code]

However, doing that makes it impossible to scroll now. Because I can't scroll with two fingers.

[2019-09-06 07:20] naseemakhtar994 opened #20 "when top to pull conmopenet is moving down"

[2019-10-02 15:04] D4vidM commented on #9
Hi! Its not working with standard React Native Modal (import {Modal} from "react-native";)

                <Modal
                    animationType="fade"
                    transparent={false}
                    visible={this.state.modalVisible}
                    enableSwipeDown={false}

                    <ReactNativeZoomableView
                        zoomEnabled={true}

[2019-10-18 14:18] usmankhan495 opened #21 "How to reset zoom value."
Hi
I was to reset the zoom level.The use case for which I am trying to do is If the view is already zoomed In and then user double tab the view it should reset to initial zoom level but is is not working as expected.Can you please suggest any solution.

[code]

This is what I am currently doing.
Thanks

[2019-10-21 12:50] SNWStaff commented on #20
Did you find a solution  ?

[2019-10-28 11:23] #21 closed

[2019-10-28 13:31] SimonErich commented on #20
@SNWStaff @naseemakhtar994 can you provide an example repo showcasing the problem, then I will have a look at it.

[2019-11-06 12:56] SimonErich commented on #19
Sorry for the late reply. I am working on a new version of this package.
I plan to release a beta in about 2 weeks, that should have this functionality.

[2019-11-12 15:17] spocky commented on #13
Hi,

I'm getting the same issue as well, using react-native modals. Just need to import "Modal" from "react-native" and surround the ReactNativeZoomableView from your example code in a :
[code]

Strangely enough, if I patch your _handleStartShouldSetPanResponder method to return "true" instead of "false" it works as expected. Hopefully that will be enough for you to fix.

[2019-11-22 13:24] grappesm opened #24 "deeper zoom scroll out or skip out"
I am displaying some large image inside. I set max Zoom to 5 (or higher). The first zoom with 2 fingers usually is OK. If I zoom more, the center point of zoom is moving out, or is zoom (with 2 fingers) again it is not easy zoom to point I want to. The point is moving away during zooming. Sometimes if I start second zoom (put 1st finger and after 1 second I puth the 2nd finger), the image skips.

[2019-11-22 21:02] galzate-blumer commented on #21
Why you close it? Did you solve it?

[2019-11-29 10:06] destwofe opened #25 "Scroll disable request"
Thank it good lib,
may is ask more feature
scroll disable,
currently i have a problem when i use zoomable view with scroll view
[code]

[2019-11-29 11:55] usmankhan495 commented on #21
@galzate-blumer , Yes
check this answer: []( https://github.com/DuDigital/react-native-zoomable-view/issues/14#issuecomment-503630928)

[2019-12-01 16:00] SaeedZhiany opened #26 "Missing Type definition in npm package"
Type definition file does not exist in npm package that installed in a RN project. so importing in typescript projects causes error;

[code]

![image](https://user-images.githubusercontent.com/13766432/69916476-a24bf100-1470-11ea-9c3c-d74757c8989d.png)

![image](https://user-images.githubusercontent.com/13766432/69916502-f3f47b80-1470-11ea-9765-1c1b322cfee7.png)

[2019-12-05 12:05] SerdarMustafa1 opened #27 "bindToBorders not working"
When I zoom, the image just enlarges and covers the entire screen. Whether I use bindToBorders or try other workarounds like wrapping in different size views, I still get the same effect.

[code]

[2019-12-09 18:04] SimonErich commented on #27
I don't understand exactly what you mean. Please provide a full example on Expo, so I can see what the problem is.
The example you provided, is not very helpful, because all the styles are missing and I cannot guess what's behind this!
Please provide a full  example

[2019-12-09 18:05] SimonErich commented on #26
Thanks to @adamaveray v1.0.15 was just released with types

[2019-12-09 18:05] #26 closed

[2019-12-09 18:06] SimonErich commented on #25
Please elaborate a little more what the problem is and provide a working example on a repo or expo, so I can see what the problem is!

[2019-12-09 18:06] SimonErich commented on #24
Could you please provide an example on expo or in a seperate repo, so I can see what the problem is?

[2019-12-09 18:07] SimonErich commented on #20
Please elaborate more what you mean or what the problem is. I will close this for now. Feel free to open it again with a working example, that I can look at.

[2019-12-09 18:07] #20 closed

[2019-12-09 18:13] SimonErich commented on #9
@farrukhhashmi65 @D4vidM I have just released v1.0.15 with a new property `captureEvent`.
If you set this property to `true` it should work in react-native modals.
Can you please give it a try and let me know if it works?

Thanks

[2019-12-10 06:48] SaeedZhiany opened #28 "TS7016: Could not find a declaration file for module '@dudigital/react-native-zoomable-view/src/ReactNativeZoomableView'."
I just installed v1.0.15, but when I want to import component I got the error message.
also, IDEA seems does not find the component props from the type definition file and so no suggestion provided by IDEA.

![image](https://user-images.githubusercontent.com/13766432/70502540-42bba880-1b36-11ea-8ebe-bfabc3037cea.png)

cc @SimonErich @adamaveray

[2019-12-10 10:14] spocky commented on #13
Just to confirm the latest commit fixed the issue, thanks @SimonErich !

[2019-12-10 11:10] SaeedZhiany opened #29 "Couple of questions"
I just took a look at code and some questions come in my mind.

1. In [this line](https://github.com/DuDigital/react-native-zoomable-view/blob/80e3ce0e15cae692b36ea101152d46b5ece28750/src/ReactNativeZoomableView.js#L18) why you didn't use PureComponent to reduce unnecessary re-renderings?

2. I'm not much familiar with PanResponder but is it possible to replace it with [react-native-gesture-handle

[2019-12-10 13:49] SimonErich commented on #28
@SaeedZhiany please try to import it generally as follows:
[code]

There are types for accessing directly from the src directly, but for some reason they don't work right now.
@adamaveray any idea why that is?

[2019-12-10 13:53] SaeedZhiany commented on #28
@SimonErich

Actually, When I test `import { ReactNativeZoomableView } from '@dudigital/react-native-zoomable-view';` application has been crashed on the screen I used this component.

the application works fine with `import { ReactNativeZoomableView } from '@dudigital/react-native-zoomable-view/src/ReactNativeZoomableView';` but IDEA show the error like the picture in first commnet.

[2019-12-10 14:22] SimonErich commented on #29
Hey @SaeedZhiany ,

Thanks for your interest in this package.

1.) Some users had a problem using PureComponents in the beginning. Maybe these should be resolved after changing the structure around anyway. Will give it a try again with the next release.

2.) That's actually a very good point, that I have been working on for the last 2 months. The new version of this package will actually only use

[2019-12-11 09:35] SaeedZhiany opened #30 "ReactNativeZoomableView effects on children absolute positioning"
I draw a graph in my application and I want to add zoom functionality to that graph. so I wrapped my graph elements into a `ReactNativeZoomableView`

the overall structure is something like this:

[code]

I place the `View`s on the screen by using absolute positions and draw the lines using react-native-svg.

The correct result must be like below (has taken from a 5.7" 720x1280 device)

![Screensh

[2019-12-15 11:33] loikfb commented on #25
@destwofe You can simply toggle scrollEnabled prop of your scroll view in onZoomBefore and onZoomAfter callbacks of ZoomableView.

[2019-12-17 03:15] gshoanganh opened #31 "ScrollView is inactive"
If you use **ReactNativeZoomableView** and **ScrollView** simultaneously, **ScrollView** will not work, unfortunately.
e.g:
[code]

[2019-12-18 09:32] skantus commented on #31
@gshoanganh `Scrollview` has zoom properties by defect, for example `zoomScale, bouncesZoom, maximumZoomScale, minimumZoomScale` then you don't need any wrap to do this.

https://facebook.github.io/react-native/docs/scrollview#zoomscale

Ex: https://medium.com/@mheavers/animating-zoom-in-react-native-scroll-view-16587b35a064

I hope this help.

[2019-12-20 03:04] destwofe commented on #25
https://github.com/DuDigital/react-native-zoomable-view/issues/25#issuecomment-565801110

[2019-12-20 03:06] destwofe commented on #25
https://github.com/DuDigital/react-native-zoomable-view/issues/25#issuecomment-565801110
Thank, i use onZoomAfter to get lastest zoomlevel and disable zoomable when zoomable != 1

[2019-12-20 03:06] #25 closed

[2019-12-20 12:02] JonathanReisCom opened #32 "Calculate initial zoom"
Hello people.

How do I get the initial zoom to fit my screen size?

Example:
My image is width 1080 (myimage.width)
My screen is width 375 (windowdimension.width )
And the scale is 3 (windowdimension.scale)

The calculation I'm doing is this:

const windowdimension = Dimensions.get('window');
const zoom = myimage.width / windowdimension.width / windowdimension.scale;
What returns 0.96

But it doe

[2020-01-02 01:59] adamaveray commented on #28
@SaeedZhiany @SimonErich Sorry for the delay! I think I must've had a few custom things going on when I set this up since it 'worked on my machine', but I've just set up a bare Typescript project to test and I'm seeing the same issue. Can you try using this repo? https://github.com/adamaveray/react-native-zoomable-view If that works for you I'll submit a new PR!

[2020-01-13 12:37] Nodonisko opened #34 "Programatically move zoomed area"
Hi,
I need to create something like minimap and when user clicks in minimap I need to move zoomed area to different position, is it possible somehow? Using ref or something like that?

[2020-01-14 22:45] dwertheimer opened #35 "Event return values in documentation are wrong"
Just FYI, in several places, the doc/README says things like:

That's actually backwards...false (or no value) will process the event, and a "true" will cancel it.

[2020-01-22 04:25] TKshadow018 commented on #31
Faced the same issue

[2020-01-27 16:02] douglasjunior commented on #9
Worked with `captureEvent`.

[2020-01-29 09:20] tamirla commented on #27
@SimonErich I'm experiencing a similar behaviour, this is my code:

    <View
      style={{
        flex: 1,
        alignItems: 'center',
        justifyContent: 'center',
      }}>
      <View
        style={{
          width: 200,
          height: 200,
        }}>
        <ReactNativeZoomableView
          bindToBorders={true}
          style={{
            width: 200,
            height: 200

[2020-02-11 08:10] 592da commented on #32
any solutions?

[2020-03-11 06:43] sugarman9907 commented on #24
I have same issue.

[2020-03-12 19:16] spyshower opened #36 "Pixelated image border"
Feel free to delete this issue

[2020-03-12 21:59] #36 closed

[2020-03-14 00:21] nohharri opened #37 "Question: SyntaxError: Cannot use import statement outside a module"
Is there a way I can import this as a regular package? I'm getting issues trying to build.

[2020-03-20 03:59] chandniKkpl commented on #27
I am using it but my image width is cutting both sides around 10%.
Here is my code:

 <View style={{ flex: 1 }}>

                        <ReactNativeZoomableView
                            maxZoom={1.5}
                            minZoom={0.5}
                            zoomStep={0.5}
                            initialZoom={1}
                            bindToBorders={false}

[2020-04-15 15:13] dudyn5ky1 opened #38 "[BUG] Jump to the zoom:1 on the first pinch"
When using **initialZoom** and doing first pinch event it jumps to the zoom: 1.

Why it happens:
**lastZoomLevel** is set to 1 initially, but should be set to the **initialZoom**.

[2020-04-22 18:12] dudyn5ky1 commented on #24
Any solution for this?

[2020-04-26 21:25] Dellybro opened #40 "Reset back to initial zoom level"
Is it possible to reset back to initial zoom level?

[2020-05-08 13:58] jpmazza opened #41 "Pinch gesture not working"
I have a Twilio integration I want to let the user zoom in/out in the remote camera view.

[code]

Double-tap is working properly but the pinch gesture is not working for me. :/

[code]

[2020-05-12 20:17] wesselstudios commented on #5
To add to this for reference, I encountered a similar issue while `ReactNativeZoomableView` was nested inside a `ViewPager` (from `@react-native-community/viewpager`).

My solution was your second suggestion @SimonErich. I used event handlers to track whether or not zoomLevel was greater than 1, then disabled `scrollEnabled` when that was the case.

[2020-05-18 18:43] milansusnjar commented on #5
@SimonErich Did you refactor this for a case when it's in a flat list?
I have this:
[code]
...

onZoomBefore I disable FlatList scroll
onZoomEnd I enable it if zoom is <= 1
onShiftingBefore I enable FlatList scroll if offsetX === lastX

and it almost works fine. One problem I can't fix when you move a zoomed image to the right border, and then it would swipe FlatList but you can swipe to the left

[2020-05-26 19:07] johhansantana commented on #41
same here I think it has to do somewhere in [this line](https://github.com/DuDigital/react-native-zoomable-view/blob/80e3ce0e15cae692b36ea101152d46b5ece28750/src/ReactNativeZoomableView.js#L116) the condition there is returning `undefined` always.

[2020-07-04 19:31] laraferroni commented on #41
I ran into this as well, and determined it was because I was using it in a modal (specifically, the react-native-base Overlay). When I switched to an absolute positioned view instead, the pinch gesture worked. This appears to be an issue with the react-native-gesture-handler in modals.

[2020-07-13 14:48] nescroft opened #43 "You Can Just Use ScrollView Instead (not an issue)"
I found that all I needed for zoom was this. I'm not sure how to do double click to zoom but I don't really need it for my app. I just put this here for other people who might be having problems with react-native-zoomable-view.

`<ScrollView
        bounces={false}
        bouncesZoom={false}
        maximumZoomScale={2}
        minimumZoomScale={1}
        showsHorizontalScrollIndicator={false}

[2020-07-13 14:49] nescroft commented on #43
``

[2020-07-13 14:49] #43 closed

[2020-07-23 09:31] yarivShamash opened #44 "Adding a snap to zoom"
Hey DuDigital,
I started using your great library and it's super intuitive and easy to use.
I would like to ad a "snap" experiance to my project, meaning that if the zoom level is between 0.9 to 1.1 I want it to be set to one.
I tried to modify the `zoomableViewEventObject.zoomLevel` but it's read only :/

[2020-07-23 14:07] cuddeford commented on #43
This has blown my mind

[2020-07-28 02:45] michaelVictoriaDev commented on #41
captureEvent={true} is having more warning error logs,

[2020-07-31 12:23] smjgithub commented on #28
I've tried using the repo you suggested as follows:-

`npm install https://github.com/adamaveray/react-native-zoomable-view.git`

This adds to my package.json as follows:-

`"@dudigital/react-native-zoomable-view": "git+https://github.com/adamaveray/react-native-zoomable-view.git"`

I import like this:-

`import ReactNativeZoomableView from "@dudigital/react-native-zoomable-view/src/ReactNativeZoo

[2020-08-04 08:27] jayan2019 commented on #15
Have you resolved this issue? How if yes?

[2020-08-23 02:20] emclab opened #45 "Not working when inside of panGestureHandler from 'react-native-gesture-handler'"
In my RN 0.62.2 app, on top of swipe, the zoomable-view does not zoom. here is the code:

    import { PanGestureHandler, State, TouchableOpacity, PinchGestureHandler } from "react-native-gesture-handler";  //ver 1.7
    import FastImage from 'react-native-fast-image';
    import {Button, Left, Right,  Icon, Input, Text, Header, Container, Content } from 'native-base';
    import ReactNativeZoomab

[2020-08-31 14:46] massimoomodei commented on #40
Yes, but only disabling and re-enabling the zoom with the `zoomEnabled` property

[2020-09-10 00:02] casos92 opened #46 "Move x and y while pinch zooming"
I'm trying to use this component as a pinch to zoom component (similar to how Instagram works).

I figured out how to snap back on release, but I can't figure out how to make the component move in the x and y directions as the pinch moves.

[2020-09-10 07:18] chkrause opened #47 "Webpack complie error"
Tried to use module in expo Framework, but got following error when trying to open in WebBrowser

Module parse failed: Unexpected token (66:19)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
|    * @type {number}
|    */

|
|   /**

[2020-09-17 04:49] AtulKondekar commented on #31
@gshoanganh @TKshadow018 Did you find any solution for scrolling in iOS device?

[2020-09-17 05:00] TKshadow018 commented on #31
No.

[2020-09-17 07:20] AtulKondekar commented on #31
Thanks @TKshadow018  for the reply, I found a way for scroll to work on iOS, we have to add
` if(gestureState.numberActiveTouches < 2) return false;`
at the top inside the `_handleMoveShouldSetPanResponder`  function in ReactNativeZoomableView.js file

basically function will look like
`/**
   * Checks if the movement responder should be triggered
   *
   * @param e
   * @param gestureState
   * @

[2020-09-28 16:44] ph-sw commented on #41
captureEvent={true} makes it work in Modal for me also. However, the zoom in and panning is not bound by the border of the view encapsulating the ReachNativeZoomableView component.

[2020-10-17 14:43] 592da commented on #32
@JonathanReisCom did you find a good solution? thanks!

[2020-10-20 12:59] JonathanReisCom commented on #32
No, sorry.

[2020-10-24 12:51] mcsalinda opened #48 "Invalid dependency '@dudigital/react-native-zoomable-view/src/ReactNativeZoomableView' (name can only contain URL-friendly characters)"
Hi,
Please check the above issue. It seems the name is invalid as per the error code.
https://snack.expo.io/SkltQtr8Q

[2020-11-09 20:38] 3GOMESz opened #49 "[Feature Request] getCroppedImage()"
Like [this repo](https://github.com/barrsan/react-native-simple-image-cropper) does.

[2020-11-09 20:41] 3GOMESz commented on #40
Just like @massimoomodei said, you can do this by disabling and re-enabling zoom with the zoomEnabled property, however, it would be interesting to have a future implementation of some easier method for this by a function for example.

[2020-11-10 13:34] #49 closed

[2020-11-23 12:43] SimonErich commented on #48
@mcsalinda you are using a wrong package name in package.json.
If you follow the instructions in readme, you get the following package.json:
[code]

[2020-11-23 12:43] #48 closed

[2020-11-23 12:45] SimonErich commented on #24
Can you guys please provide a working for this.
You can use https://github.com/DuDigital/react-native-zoomable-view-example as a basis.
I am closing this for now. If you have the example, please open it again.

[2020-11-23 12:45] #24 closed

[2020-11-23 12:54] SimonErich commented on #27
@tamirla I have checked your example and I your problem is caused by using `alignItems` and `justifyItems`.
In general I would recommend to not wrap the `ReactNativeZoomableView` in the centered content, but rather wrap your "canvas" with `ReactNativeZoomableView`.

[code]

And generally it is recommended to not add width/height on the `ReactNativeZoomableView` itself.

[2020-11-23 12:56] SimonErich commented on #27
@chandniKkpl I have tried your example, but it works fine so far for me.
Sorry for the delay. DId you solve your problem in the meantime?
If not, maybe try setting `bindToBorders` to `true`.

[2020-11-23 12:56] #27 closed

[2020-11-23 12:58] SimonErich commented on #47
@chkrause this is weird. There is nothing really special there.
Did you manage to solve it?
Do use typescript in your project?

[2020-11-23 12:58] #47 closed

[2020-11-23 13:00] SimonErich commented on #46
@casos92 unfortunately that's not supported right now. I will label it as a feature request.
Maybe somebody can help with this?

[2020-11-23 13:02] SimonErich commented on #44
@yarivShamash thank you for your feedback.
Unfortunately that's not a feature, we have right now.

I will mark it as a feature request.
If you manage to dig into it and take care of it (or anybody else) I would really appreciate it.

[2020-11-23 13:05] SimonErich commented on #41
@laraferroni thanks for helping out here, I really appreciate it :)
@ph-sw can you give a bit more information about the problem?
It's important, that ReactNativeZoomableView covers the whole area, that you want to be "gesturable" otherwise we cannot listen to it.

[2020-11-23 13:06] SimonErich commented on #45
Hey,
yeah, the problem might be, that the GestureHandler steals the GestureListener.
Can you try it with: captureEvent={true}

[2020-11-23 13:06] #45 closed

[2020-11-23 13:07] #40 closed

[2020-11-23 13:08] SimonErich commented on #40
@3GOMESz thank you for helping out here.
Sorry for the delay.

I am closing this for now, but will write this feature request down for the new version.

[2020-11-23 13:08] SimonErich commented on #38
Merged. Thanks for the request.

[2020-11-23 13:08] #38 closed

[2020-11-23 13:09] SimonErich commented on #37
What do you mean by a regular package?
Closing this for now, but if you provide more details, will look at it?

[2020-11-23 13:09] #37 closed

[2020-11-23 13:11] SimonErich commented on #35
Thanks for the hint. Fixed it.

[2020-11-23 13:11] #35 closed

[2020-11-23 13:12] SimonErich commented on #29
@SaeedZhiany you can find the code in the repo here ;)

[2020-11-23 13:12] #29 closed

[2020-11-23 13:13] SimonErich commented on #34
@Nodonisko unfortunately we don't have that feature yet, but will tag it as a feature request

[2020-11-23 13:13] #28 closed

[2020-11-23 13:13] #30 closed

[2020-11-23 13:15] SimonErich commented on #32
Can you please provide an example, that I can build on from and check the problem?
You can use the following as a starting point:
https://github.com/DuDigital/react-native-zoomable-view-example

[2020-12-01 07:40] yarivShamash commented on #44
Thanks for your reply Simon, unfortunately I am caught up with a lot of
work at the moment.
All the best :)

On Mon, 23 Nov 2020 at 15:02, Simon Auer <notifications@github.com> wrote:

[2020-12-08 06:49] KarolisKaj opened #50 "Reset zoom level"
Hello,

Great job at creating this zoom component, really appreciate it.

I was wondering if there is a way to reset zoom level on any event. I.e. when zoom level reaches 0.2 I'd like put it back to 1. How can I achieve that?

/Karolis

[2020-12-08 18:55] italomlp commented on #44
I don't know if helps, but if you use a state to keep initialZoom value, you can change the zoom programattically by keeping zoomEnabled as a state too, and update it always when the zoom is updated. E.g:
[code]

[2020-12-10 13:54] yarivShamash commented on #44
Thanks alot!

On Tue, 8 Dec 2020 at 20:56, Italo Menezes <notifications@github.com> wrote:

[2020-12-15 11:36] naveed1239 opened #51 "How can we zoom in and zoom out with buttons"

[2020-12-16 13:42] arelstone opened #52 "Incorrect return type in inde.d.ts"
It looks like the return type for  `onZoomBefore`, `onZoomAfter` and `onZoomEnd` is incorrect.

These types should be `void` instead of `boolean`

[2020-12-17 07:46] webtaculars commented on #43
Just to put it, your solution only works for iOS. So if anyone isn't building for android, then this is great

[2020-12-17 14:51] nescroft commented on #43
yeah i realized that eventually.. if anyone has an easy solution like this for android i'd be interested to see it. it works great on ios.

[2020-12-18 15:48] HarryCamigla opened #54 "Initial zoom value and pinch to zoom bug"
Found this bug when your initialZoom value is less than 1

The bug causes the zoom value to 1 during the first pinch gesture. In ReactNativeZoomableView.js fie in Line 32 you need to update as below

this.state = {
      zoomLevel: props.initialZoom,
      ...initialState,
      lastZoomLevel:props.initialZoom ? props.initialZoom : 1,
      offsetX: props.initialOffsetX,
      offsetY: props.initi

[2021-01-04 12:46] Esgath opened #55 "Nested onPress events."
Hello, is there a way to make nested onPress events work? Basically i want to nest images inside this component and be able to trigger onPress event when clicked on image. I tried changing onMoveShouldSetPanResponder and onStartShouldSetPanResponder as stated here:  https://stackoverflow.com/questions/47568850/touchableopacity-with-parent-panresponder?noredirect=1&lq=1 but with no effect.  Thank y

[2021-01-04 13:11] Esgath commented on #55
For some reason code works now. :zany_face:  Sorry for opening this issue.

[2021-01-04 13:11] #55 closed

[2021-03-11 11:16] mmskvortsov commented on #34
oh... is there any kind of workaround to zoom programmatically or at least to move the position?

[2021-03-23 11:53] naveed1239 opened #58 "Inner view gestures not working properly"
I have added "react-native-pdf" as a child view and pdf scrolling is not working properly.

[2021-06-06 07:18] trungdh-pnc opened #59 "How to set zoom level with button plus/subtract ???"
help me please 🥺

[2021-06-07 11:52] ajayg415 opened #60 "onDoubleTapAfter not returning correct offset values"
`onDoubleTapAfter` is returning previous event offset values, this is because values are being returned even before this.setState is completed. Please fix this.

[2021-06-07 12:07] ajayg415 commented on #60
I raised a PR to fix this issue. https://github.com/DuDigital/react-native-zoomable-view/pull/61

Awaiting for review comments / approvals for merge.

[2021-06-08 05:21] ajayg415 commented on #59
It involves 2 things.

1. You have to trigger touch event when user clicks **`Plus`** or **`Minus`** buttons.
2. Seems the current logic doesn't permit `Minus` operation, you have to add this new functionality in [ReactNativeZoomableView.js](https://github.com/DuDigital/react-native-zoomable-view/blob/master/src/)

[2021-06-08 16:32] mahiraltinkaya commented on #34
Hey;
I want to programmatically change the angle or position of the zoom. Can you suggest a solution?

[2021-06-09 05:25] ajayg415 commented on #34
when user zoom it using double tap or two fingers, we're updating `zoom, offsetX and offsetY`, if we could update these values programmatically you achieve what you want I guess. refer below sample code.

[code]

[2021-06-10 06:30] #52 closed

[2021-06-10 08:01] #60 closed

[2021-06-10 08:06] SimonErich commented on #19
Sorry for the long response times. Unfortunately version 2 of this package never really made sense. I planned on refactoring it, but ended up with something very similar in performance.
If somebody has time to pick this issue up, I would really appreciate it.

[2021-06-10 08:06] SimonErich commented on #32
Closed for being stale.

[2021-06-10 08:06] #32 closed

[2021-06-10 08:19] SimonErich commented on #54
@HarryCamigla sorry for taking so long to respond to this.
I could not reproduce this with the latest version. Could you maybe check if the problem still persists?
If yes: please provide a small example of the way you implement the component.
Do you have `minZoom` set to a number smaller than your `intiialZoom` ?

[2021-06-10 08:20] SimonErich commented on #58
Hey @naveed1239 ,
can you please try whether setting the `captureEvent` prop to `true` works?
Generally, it is quite complicated to handle the gestures in subviews, because there could be a conflict with it.

[2021-06-10 08:21] SimonErich commented on #41
Closed because no reply was given.

[2021-06-10 08:22] #41 closed

[2021-06-10 08:32] ajayg415 commented on #34
I have this requirement in my project, I'm trying it in my local. I'll raise PR and update once I successful.

[2021-06-10 08:38] mahiraltinkaya commented on #34
Thank you bro. I will wait u

[2021-06-10 09:33] naveed1239 commented on #58
I have  already set the "captureEvent" prop to "true" but it's not working. If i am putting the pdf or html views outside the "ReactNativeZoomableView" user able to scroll it smoothly but when I put it inside "ReactNativeZoomableView" user not able to scroll it smoothly. Below is my code
 <ReactNativeZoomableView
          maxZoom={maxZoomValue}
          minZoom={minZoomValue}
          zoomStep=

[2021-06-10 09:45] #51 closed

[2021-06-11 06:30] SimonErich commented on #50
@KarolisKaj sorry for the late reply.
We have now implemented events, that allow you to just do that.

I would just track the zoomLevel and call the `zoomTo` method, if it exceeds a certain value.

Here are the details:
https://github.com/DuDigital/react-native-zoomable-view/releases/tag/v1.1.0

Please make sure to install the latest version. (1.1.3 or up for a working version)
You can also check

[2021-06-11 06:30] #50 closed

[2021-06-11 06:31] SimonErich commented on #59
thank you @ajayg415 for helping out! :)

Fortuntately we have a new release that introduces events exactly for that:

Here are the details:
https://github.com/DuDigital/react-native-zoomable-view/releases/tag/v1.1.0

Please make sure to install the latest version. (1.1.3 or up for a working version)
You can also check out the example repo for an examples:
https://github.com/DuDigital/react-native-

[2021-06-11 06:31] #59 closed

[2021-06-11 06:32] SimonErich commented on #44
If that did not solve it for you, we now also have events available.
Maybe you can work with these better.

Here are the details:
https://github.com/DuDigital/react-native-zoomable-view/releases/tag/v1.1.0

Please make sure to install the latest version. (1.1.3 or up for a working version)
You can also check out the example repo for an examples:
https://github.com/DuDigital/react-native-zoomable-v

[2021-06-11 06:32] #44 closed

[2021-06-11 06:33] SimonErich commented on #34
Hey guys,
sorry for the long delay.

Fortuntately we have a new release that introduces events that will help you in that.

Here are the details:
https://github.com/DuDigital/react-native-zoomable-view/releases/tag/v1.1.0

Please make sure to install the latest version. (1.1.3 or up for a working version)
You can also check out the example repo for an examples:
https://github.com/DuDigital/react-n

[2021-06-11 06:33] #34 closed

[2021-06-11 06:33] #31 closed

[2021-06-11 06:34] SimonErich commented on #31
Seems like there is no simple solution for this problem right now using the GestureDetector of react-native, because they steal each others GestureListeners.
If anybody has an idea, please comment here

[2021-06-11 06:57] SimonErich commented on #58
Unfortunately I am not sure if this problem can be solved, because it's a gesture listener problem.
Both of our packages try to access them and steal them away from each other.

Maybe you can try with custom buttons or something.
Here are the details:
https://github.com/DuDigital/react-native-zoomable-view/releases/tag/v1.1.0

I will close this for now, because I think this is not a specific probl

[2021-06-11 06:57] #58 closed

[2021-06-12 14:59] ktjd123 opened #66 "yarn add command fails"
yarn command fails with

[code]

[2021-06-12 15:03] ktjd123 commented on #66
Works fine with 1.0.16.

I think this issue is related to ^1.1.

[2021-06-12 15:07] SimonErich commented on #66
@ktjd123 can you please provide more details and an example?
when does this happen? during build or yarn install?

[2021-06-12 15:15] ktjd123 commented on #66
@SimonErich Thank you for fast reply. with install

The command is

`yarn add @dudigital/react-native-zoomable-view`

the result is

[code]

[2021-06-16 12:55] Brainnotfound opened #67 "Cannot move / zoom when component placed in a modal and in front of other components"
Hello,

I am currently using the component in a Modal and I have a problem when I try to move or zoom / dezoom the component.

It only occurs when I place my finger on a place where the component in the modal is in front of 2 components of the background page. I'm sorry for this terrible explanation but it is pretty hard to tell clearly what is the problem, so I've made this [video](https://youtu.

[2021-06-17 16:12] harshal2030 commented on #66
+1

[2021-06-17 17:59] GIovaneSantosSilva commented on #66
+1 Same problem here!

[2021-06-18 13:51] SimonErich commented on #66
Hello guys,

can you maybe try to delete your yarn.lock file?
See: https://github.com/yarnpkg/yarn/issues/7244

I cannot reproduce it right now and I guess it is a glitch with yarn and the fact, that the first version we pushed was invalid and reverted. Sorry for that.

[2021-06-19 04:52] ariontechs commented on #66
I deleted yarn.lock and re add it , it works find, thanks

`
success Saved lockfile.
success Saved 1 new dependency.
info Direct dependencies
└─ @dudigital/react-native-zoomable-view@1.1.3
info All dependencies
└─ @dudigital/react-native-zoomable-view@1.1.3
✨  Done in 7.49s.
`

[2021-06-20 23:42] aprilmintacpineda commented on #66
This is what I did:

[code]

Result:

[code]

[2021-06-21 10:59] harshal2030 commented on #66
+1, still getting this error

[2021-06-21 11:01] SimonErich commented on #66
Thanks for trying it out.
Can you provide more details about your project?

Did you add react-native-zoomable-view for the first time or upgrade?
Do you use Expo or a boilerplate?

Can you reproduce it locally, if you install it to a new project, that you just created with?
```react-native init```

[2021-06-21 11:04] harshal2030 commented on #66
I was installing react-native-zoomable-view for the first time in my project created using `react-native init`

[2021-06-22 02:21] aprilmintacpineda commented on #66
You'll encounter this error whether your upgrading or installing it for the first time.

[2021-06-22 02:32] aprilmintacpineda commented on #66
In my case, I got that error when I was trying to upgrade, then I tried to remove it then install it again and got the same error.
The app was created with `react-native init`, it's not using Expo.

I tried

[code]

and it was installed successfully.

[2021-06-23 03:09] felipejh opened #71 "LongPress dont work"
The LongPress only work one time.
After work one time, it doesnt work more.

[2021-06-23 08:27] shevchenkona19 commented on #66
Also getting this issue. Just cloned existing project with 1.0.15 version. Tried to install modules for the first time with `yarn` command fails:
![image](https://user-images.githubusercontent.com/18466768/123063267-ea958000-d415-11eb-9527-7502009059a5.png)
`error An unexpected error occurred: "expected hoisted manifest for \"@dudigital/react-native-zoomable-view#react-native#@react-native-communi

[2021-06-24 11:20] Ost-Frost opened #72 "Better description of the zoomLevel in the documentation"
I worked with the zoomLevel attribute of the zoomableEventObject yesterday and I think it should be documented more clearly how the zoom relates to the scale of the view. The initial assumption would be that the zoomLevel is the factor the view is scaled by, but it is actually the square root of it.

It might have some advantages in the usability to scale it twice by the zoomLevel factor, but it s

[2021-07-02 16:03] ngotrongphuc commented on #66
guys, i've made it work by first delete yarn.lock then run _yarn_ in cmd to re-generate yarn.lock. then if you try to run it now, build would be fail with the error: **error Failed to launch emulator. Reason: Emulator exited before boot..** , all you have to do is delete your current avd and create a new one. then run it again and you will be good to go

[2021-07-06 12:13] hcphoon01 opened #73 "Performance error when zooming"
I am trying to get this package working on my Expo based app but when I zoom in or out it is very laggy and I get the following error in the console.

For reference I am using the exact same code used in the example, the only difference being I have a navigation bar set up

[code]

[2021-07-06 13:11] hcphoon01 commented on #73
Turns out the error was logging all the stuff to the console every time the zoom scale was changed

[2021-07-06 13:11] #73 closed

[2021-07-08 17:25] theianjohnson opened #74 "Pinch zoom not centering on users fingers"
Is this a known issue or potentially something with my implementation?

When zooming in with two fingers the image always seems to be centered so it's zooming off and away, but not in a consistent direction - ie two finger zooming in the center appears to center correctly, but two finger zooming in the bottom right corner zooms the image off to the top left

[2021-07-09 11:54] tyhour opened #75 "This package support with IOS or not?"
I try use this package with Android and IOS. For Android working fine but IOS not working.
Thanks for help.

[2021-07-10 08:58] #75 closed

[2021-07-12 12:37] welsdarte opened #76 "Getting the same error between all hot reloads on Android"
Whenever I save something on project and trigger hot reload zoomable view throwing this error:
undefined is not an object (evaluating '_this.logOutZoomState')

[2021-07-12 20:12] Ankush-Negi opened #77 "Getting error when running build on react native app"
![image](https://user-images.githubusercontent.com/60432448/125348983-8f064480-e37a-11eb-8dd8-cb5cfb3a4070.png)

**Solution**: Please provide return value after all the arrow function

[2021-07-15 21:34] mahiraltinkaya opened #78 "bindToBorder Doesn't work."
Hello there;
I tried to explain with pictures and I show the styles clearly. I expect the image to stay in the layout, but the image gets bigger as possible.

Can you help me where am I going wrong?
![WhatsApp Image 2021-07-16 at 00 07 42 (2)](https://user-images.githubusercontent.com/25014707/125860647-db377250-df7a-4ce1-9e59-a1c8cb417f16.jpeg)
![WhatsApp Image 2021-07-16 at 00 07 42 (1)](https:/

[2021-07-16 18:14] gabrielgambarra commented on #74
Save issue here

[2021-07-19 21:27] theianjohnson commented on #74
@SimonErich any ideas?

[2021-07-20 11:25] zivchen commented on #66
It happens when you have yarn workspaces configuration in your project.
You should remove react-native from the dependencies

[2021-07-22 14:01] tallesb commented on #78
Same issue. Any solution?

[2021-07-23 10:06] MichalSkubek commented on #78
Try adding overflow: 'hidden' to your Layout containing ReactNativeZoomableView

[2021-07-23 10:44] tallesb commented on #78
Thanks! This solucion worked for me!

[2021-07-23 11:02] mahiraltinkaya commented on #78
Thank you mate. this worked for me!

[2021-07-23 14:57] slewicki opened #79 "Is there a way to get the X. Y, Width, and Height of the original image from the section in view?"
I have a rather large 2K image that I am loading and panning within my small phone screen and that part works great. What I'd like to do is somehow translate the bounds of the zoomed and panned image back to the original upper-left coordinates. I get that the offsets reference the center of the image and I tried multiple different formulas to take into account the offset and zoom scale, but I have

[2021-07-29 07:05] ajayg415 opened #80 "[feature] Add a feature to stay at maxZoom instead of resetting to initialZoom"
I would like to add a new feature to stay at maximumZoom value instead of resetting to initialZoom when view reach max zoom value.

[2021-08-02 11:02] Vannevelj commented on #66
I can confirm I've got the same issue. Deleting yarn.lock and re-generating causes the same issue (and is not an acceptable solution in the first place). These are my dependencies:

[code]

[2021-08-10 22:01] theianjohnson commented on #74
@SimonErich is this package still maintained?

[2021-08-29 13:10] andac-ozcan commented on #66
Running yarn with using `"@dudigital/react-native-zoomable-view": "1.0.16" works. After first successful yarn install I add ^1.0.16 and able to upgrade package as being a first time installer.

[2021-09-01 06:59] aravi365 commented on #25
do you have some code to share?

[2021-09-03 08:42] ChiragMDave opened #84 "What the ...., thousands of lines of code?"
These guys have written thousands of lines of code for what can be achieved by writing just 50 lines. Including zooming in/out from  lastScale and pan moving from lastOffsets using PanGestureHandler, PinchGestureHandler, State.

[2021-09-07 15:48] Vannevelj commented on #66
If you change your `react-native` dependency to `0.65.1` it will work. Versions below that fail with the above error.

[2021-09-14 17:25] phillipcmittmann opened #85 "zoomTo doesn't work with multiple images"
I can't figure out why zoomTo() only works for the last image of the list. I also tried mapping inside a scrollview and two images side by side.

I need a FlatList because in the end I will be rendering around 80 images, so it will impact the performance.

FlatList snippet:
[code]

EDIT: Two images snippet:

Obs: When keeping only the first one and changing its refs to any other index, it works

[

[2021-09-14 18:03] phillipcmittmann commented on #85
Looks like I was doing it wrong, instead of:
[code]
It should be:
[code]

Isn't a bug, so will be closing the issue.

[2021-09-14 18:03] #85 closed

[2021-09-29 14:34] plaporte opened #86 "Cannot scroll left to right without first scrolling up or down."
I am using the zoomable view to house a tournament bracket. In order to be able to scroll left or right more than half an inch, I first need to scroll/drag the screen up/down and then I can move it freely. Is there a solution for this?

My code:
[code]

[2021-10-03 13:31] blindvalentine opened #87 "return to original size after zoom ends"
Hi, I'm trying to get the picture to return the original size after the zoom ends. is this built into the package?

[2021-10-04 14:54] JoaoGabrielDaSilva commented on #84
ok, but why haven't you done this and shares with us yet?

[2021-10-04 14:56] JoaoGabrielDaSilva commented on #84
@ChiragMDave ok, but why haven't you done this and shared with us yet?

[2021-10-16 16:00] elliottkember commented on #84
@ChiragMDave I tried your code - nice work! Here are a few little things I noticed:

1. The pinch-zoom scales from the centre of the viewport, instead of from the centre of the pinch gesture.
2. No bounding - the image can be dragged completely out of view
3. No easing, or spring animations that I could see.

I'm sure these can be achieved in less code than used in this repo, but I wanted to point

[2021-11-11 19:39] skjorrface opened #92 "zoom methods (zoomBy, zoomTo etc.) are not found inside ref"
I would like to use zoomBy/zoomTo methods, invoking them from ref.current attached to Zoomable view, but they result undefined, logging out ref.current gives this:
<img width="1643" alt="Schermata 2021-11-11 alle 20 36 03" src="https://user-images.githubusercontent.com/9011806/141358535-03fca12e-2758-47d5-9fcd-e73dad56ab04.png">

what am I missing? Thanks beforehand.

[2021-11-23 23:22] 10000multiplier commented on #84
@elliottkember can we write code with the same brevity that addresses your concerns as well?

[2021-11-23 23:31] 10000multiplier commented on #66
in that case this is unuseable with latest expo SDK43 which is still on `0.64.3`

[2021-12-09 19:33] 10000multiplier commented on #84
@elliottkember indeed, v2 of `react-native-gesture-handler` just came out with a rewrite of the old API!

Here's some examples `https://github.com/software-mansion/react-native-gesture-handler/tree/master/example/src/new_api` to get familiar with it.

I'm not in a position right now where I can afford to work on open source libraries, but in the future I'd be glad to help out with a PR if needed!

[2021-12-10 17:12] elliottkember commented on #84
Superb. I'll have a look at the new API soon, thank you for the link. It would be neat to aim for a simpler implementation of this component - it works well enough that there is no real rush, but it seems doable and a fun project.

My colleague Thomas did all the real work fixing bugs for our fork, I am just helping out with the handover.

[2022-01-05 00:08] 10000multiplier commented on #84
@elliottkember might want to check out this gist https://gist.githubusercontent.com/intergalacticspacehighway/9e931614199915cb4694209f12bf6f11/raw/dc67da12841d2e7e34b2e4f50a03953cffa86d76/PinchToZoom.tsx

It works great.

Hats off to @intergalacticspacehighway

[2022-01-10 12:57] ede-vagyok commented on #92
Bump for this one, i'm also interested

[2022-01-27 19:55] elliottkember commented on #84
@10000multiplier This is awesome. Super impressive work @intergalacticspacehighway!

As it turns out, we may have a need to implement this in a new version of the library. There are many benefits to `react-native-gesture-handler`. However it is likely we would have to start with the most basic features to begin with, so it may start with a much simpler API while we get going.

I'll update this thr

[2022-01-27 20:06] 10000multiplier commented on #84
@elliottkember here's my updated version with the new API. Works like a charm on iOS, haven't tested it on Android.

https://gist.github.com/10000multiplier/264779c850e083ec3cb92eb8413559c0

[2022-01-28 23:38] elliottkember commented on #84
@10000multiplier This is great! Unfortunately this doesn't solve the use-case where a user can zoom and pan the image like a map, which is how we use it. We're working through it but it's a difficult transform. It's important to be able to zoom the image in at the location the user is pinching.

[2022-01-29 18:07] elliottkember commented on #84
@10000multiplier We've spent the last couple of days working this into a new version of the plugin. You can check it out in the V3 branch in [our repo](https://github.com/openspacelabs/react-native-zoomable-view/tree/v3).

The new version has dependencies on `react-native-reanimated` and `react-native-gesture-handler`, but the code is very short. None of the configuration props are implemented yet

[2022-01-29 18:17] 10000multiplier commented on #84
@elliottkember awesome job. Looks great.

[2022-02-22 10:45] nbarshain commented on #72
Extremely helpful. I could not figure out how zoomLevel was calculated.
Thank you @Ost-Frost for spelling it out.

[2022-02-22 10:48] nbarshain commented on #72
Just curious, why would the author write it as the square root?

[2022-02-22 10:58] Ost-Frost commented on #72
My interpretation would be that the zoom feels more natural when you zoom out if it is not linear.

[2022-02-22 11:12] nbarshain commented on #72
Oh that makes sense. They are zooming based on log.
I guess for computing the rate of zoom, log makes more sense, but for calculating things based on scaling after the zoom happens, it's easier to work with the linear ratio.

[2022-03-12 22:05] tlmader commented on #19
Looking for a React Native component that supports two-finger pan and zoom as well.

[2022-05-13 08:54] ksielyov commented on #66
It will not work. I updated rn from 0.64.1 to 0.65.1, it gives the following error

[2022-05-13 08:56] ajaakol opened #95 "Possibility to show videos inside ReactNativeZoomableView"
Is it possible to show videos? Or am I doing something wrong

[2022-05-18 20:57] thomasttvo commented on #19
@tlmader look no further. Check out OpenSpace Labs' fork of [react-native-zoomable-view](https://www.npmjs.com/package/@openspacelabs/react-native-zoomable-view).

[2022-05-23 19:50] waqaramjad commented on #67
Same issue here

[2022-05-27 19:50] waqaramjad opened #96 "How Can i stop default double tap ?"
How Can i stop default double tap ?

[2022-06-17 22:30] kesha-antonov commented on #84
Hi all,

I've made zoom package on reanimated & gesture-handler
Hope it could be useful for somebody: https://github.com/kesha-antonov/react-native-zoom-reanimated

https://user-images.githubusercontent.com/11584712/174408748-21b53fd8-2442-475e-bec3-30e3186c770e.mp4

[2022-07-05 12:10] SimonErich commented on #84
@kesha-antonov that's amazing.
I love it. As far as I can see it does not have all of the features and configurations of this package or @elliottkember s package, but it is still a very good alternative.

I have added it to the readme disclaimer.

As for the question in the title of this issue:
Yes, the code was written this way, because back then (when we first started this component - and even b

[2022-07-05 12:53] kesha-antonov commented on #84
Thanks man!

Yeah, sad story with that hard drive)

I also wrote my package internally almost a year ago I think. But was busy with other stuff, and now I've found time to open source that finally)

[2022-10-10 16:04] MehdiDi opened #97 "Disable drag"
Hello! is there a possibility to disable drag?

[2022-10-30 15:12] Fenryth opened #99 "onpress event overate shift behavior"

[2022-10-30 15:17] #99 closed, assigned to nobody

[2022-11-30 13:02] IbrahimKhanLughmani commented on #97
did you find an answer for this?